.navbar {
	top: 0;
	width: 100%;
	font-family: var(--poppins-family);
	font-size: var(--font-size-body-xs);
	font-weight: var(--poppins-medium-weight);
	margin-bottom: 2rem;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 9.428125rem;
		height: 3.2575rem;
		opacity: 0.5;
	}

	&__toggle {
		cursor: pointer;
		all: unset;
		display: none;
	}

	&__icon {
		font-size: var(--icon-size-m);
		color: var(--color-text-and-bg);
		margin: auto;
		position: relative;
		top: 0.25rem;
	}

	&__item {
		cursor: pointer;
		background-color: none;
		display: flex;
		align-items: center;

		&--button {
			display: none;
		}
	}

	&__links {
		display: flex;
		list-style: none;
		gap: 3rem;

		&--active {
			display: flex;
		}
	}

	&__link {
		text-decoration: none;
		color: var(--color-text-and-bg);
		transition: transform 0.3s ease, color 0.3s ease;

		&:hover {
			transform: scale(1.1);
			color: var(--color-bg-elements-and-text);
		}
	}

	@media (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__links {
			margin-left: auto;
		}

		&__container {
			width: auto;
		}
	}

	@media (max-width: 1023.98px) {
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3000;
		height: 4.5rem;
		display: flex;
		align-items: center;

		&__container {
			background-color: var(--color-bg-elements-and-text);
			padding: 0 1.5rem;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			z-index: 3010;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.3s ease;
		}

		&.navbar--open .navbar__container {
			box-shadow: none;
		}

		&__logo {
			margin-left: 0;
			width: 8rem;
			position: relative;
			z-index: 3011;
		}

		&__toggle {
			display: block;
			cursor: pointer;
			border: none;
			background: transparent;
			outline: none;
			position: relative;
			z-index: 3011;
		}

		&__icon {
			margin-right: 0;
			color: var(--color-text-and-bg);
			font-size: 2.25rem;
		}

		&__links {
			position: fixed;
			top: 4.5rem;
			left: 0;
			width: 100%;
			height: 65vh;
			background-color: var(--color-bg-elements-and-text);
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;
			z-index: 3005;
			transform: translateY(-100%);
			transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s ease,
				visibility 0.2s ease;
			visibility: hidden;
			opacity: 0;
			border-bottom-left-radius: 1.5rem;
			border-bottom-right-radius: 1.5rem;
			border-top: 1px solid rgba(255, 255, 255, 0.1);

			&--active {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
				box-shadow: 0 40px 50px -20px rgba(0, 0, 0, 0.3);
			}
		}

		&__item {
			text-align: center;
			padding: 0;
			justify-content: center;

			&--button {
				display: flex;
				margin-top: 1rem;
			}
		}

		&__link {
			font-size: 1.625rem;
			font-weight: 600;
			color: var(--color-text-and-bg);

			&:hover {
				color: var(--color-text-and-bg);
				transform: scale(1.05);
			}
		}
	}
}
