.services {
	padding: 0;
	width: 100%;

	&__container {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		width: 100%;
		max-width: var(--container-max-width);
		margin: 0 auto;
	}

	&__card {
		flex: 1 1 25rem;
		max-width: 26.5rem;
		border-radius: 1.875rem;
		box-shadow: var(--shadow-s);
		text-align: left;
		font-family: var(--poppins-family);
		background: var(--color-tertiary-bg);
		transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
		padding: 1.25rem;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		.services__card-button {
			margin-top: auto;
		}

		&:hover {
			transform: translateY(-0.125rem);
			box-shadow: var(--shadow-l);
		}

		&-image {
			border-radius: 0.625rem;
			margin: 0 auto 1.5rem;
			object-fit: contain;
			max-width: 100%;
			display: block;
		}

		&-title {
			font-size: clamp(
				var(--font-size-heading-m),
				4vw,
				var(--font-size-heading-l)
			);
			font-weight: var(--poppins-bold-weight);
			color: var(--color-text-bg-secondary);
		}

		&-description {
			font-size: clamp(var(--font-size-body-xs), 4vw, var(--font-size-body-s));
			color: var(--color-text-bg-secondary);
			margin-bottom: 1.25rem;
			overflow: hidden;
			display: flex;
			line-height: 1.5;
			align-items: center;
		}

		&-paragraph {
			font-size: clamp(var(--font-size-body-xs), 4vw, var(--font-size-body-s));
			color: var(--color-text-bg-secondary);
			line-height: 1.5;
			margin-bottom: 1.25rem;
		}

		&-items {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1.25rem;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			background: var(--color-tertiary-bg);
			min-height: 10rem;
			border-radius: 1.875rem;
			border: 1px solid var(--border-subtle);
			box-shadow: var(--shadow-m);
			padding: 1.5rem 2rem;
			margin-bottom: 0;

			width: 100%;

			&-title {
				font-size: 1.35rem;
				color: var(--color-text-bg-secondary);
				margin-bottom: 0.5rem;
				font-weight: 700;
			}

			&-text {
				font-size: 1.1rem;
				color: var(--color-text-bg-secondary);
				line-height: 1.4;
			}
		}
	}

	@media (max-width: 1366px) {
		padding: 3rem 1.25rem;

		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
			justify-items: center;
			width: 100%;
			max-width: 100%;

			margin: 0 auto;
		}

		&__card {
			width: 100%;
			max-width: 27.5rem;
		}

		&__card:nth-child(3) {
			grid-column: span 2;
			justify-self: center;
		}
	}

	@media (max-width: 767px) {
		padding: 3rem 1rem;

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2.5rem;
		}

		&__card {
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		&__card:nth-child(3) {
			grid-column: auto;
		}
	}

	@media (max-width: 480px) {
		padding: 3rem 1rem;

		&__card {
			padding: 1.5rem;
			width: 100%;
			max-width: 100%;
		}
	}
}
