.content-template {
	margin: var(--section-gap) 0;
	display: flex;
	flex-direction: column;
	gap: var(--section-gap);

	@media (max-width: 1024px) {
		gap: calc(var(--section-gap) / 2);
		margin: calc(var(--section-gap) / 2) 0;
	}
}
